
/* start header */
.custom-header {
    align-items:center;
    justify-content: center;
    background-image: linear-gradient(
        45deg,
        #12248f 5%,
        #0b2ce6 52%,
        midnightblue 90%
    );
    color: azure;
}

.custom-header-text {
    font-size: 3rem;
}
#current-date {
    color: azure;
    font-size: 1.5rem;
}
/* end header */

/* start form */
.form-custom {
    margin-top: 10px;
}
/* end form */

/* start today style */
#currentDay {
    font-size: 1.6rem;
    color: rgba(0, 0, 0, 0.7);
}
/* end today style */

/* start 5 day style */
.five-day-header {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
}

#five-day-container {
    justify-content: space-between;
}

#forecast-container {
    /* align-self: flex-end */
    display: contents;
}
/* end 5 day */